.title {
    font-weight: bolder;
    padding-top: 20px;
    color: black;
    text-transform: capitalize;
}

.title:hover{
    color: grey;
    /* text-decoration: underline; */
}

.row {
    border: 0.5px solid lightgray;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 1px;
    margin-right: 1px;

    max-height: 230px;
}

.col {
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.image {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    border-radius: 5px;

    max-height: 230px;
}

.info{
    padding-left: 50px;
}

.city_date{
    color: grey;
    font-weight: bold;
}

.price{
    color: blue;
    font-weight: bold;
    font-size: 18px;
}

.features{
    color: gray;
    display: inline-flex;
    width: 160px;
    margin-bottom: 5px;
}

/* Media Query for Small Screens */
@media (max-width: 767px) {
    .row {
        display: flex;
        flex-direction: column;
        max-height: none;
        height: auto;
    }

    .col {
        width: 100%;
    }

    .features {
        max-width: none;
    }

    .image{
        max-height: none;
    }

}