.info{
  margin: 20px 0 0 20px;
}

.title {
  color: black;
  text-transform: capitalize;
}

.text_not_signed_in{
  margin: 5px 0 20px 10px;
}

i {
  text-decoration: none;
  font-size: 20px;
  padding-left: 0;
}

button span {
  color: #3366FF;
}

.price{
  color: blue;
}

.butt_container {
  margin-left: -12px;
  margin-top: 10px;
}

.contact_me{
  margin-top: 15px;
}

.link_text{
  color: #3366FF;
  transition: none;
}

.link_text:hover{
  color: #3366FF;
}

.title_message_box{
  margin-left: 10px;
}