.info{
  margin: 20px 0 0 20px;
}

.title {
  color: black;
}

i {
  text-decoration: none;
  font-size: 20px;
  padding-left: 0;
}

button span {
  color: #212529;
}

.price{
  color: blue;
}

.butt_container {
  margin-left: -12px;
  margin-top: 10px;
}

.contact_me{
  margin-top: 15px;
}
