.NavBar{
    margin: 0;
    padding: 0;
    background-color: #4081FA;
}

.NavLink{
    color: whitesmoke;
    display: flex;
    padding: 10px;
}

a {
    align-items: center;
} 

.Active{
    color: #F79031;
    font-weight: bold;
}

.logo_img{
    margin: 0;
    padding: 0;
}

.NavLink:hover{
    color: #F79031;
}

.toggler{
    margin-right: 50px;
}