.NavBar{
    border: 1px solid black;
    margin: 0;
    padding: 0;

    /* background-color: #ffffff; */
    background-color: lightblue;
}

.NavLink{
    color: rgba(0,0,0,.5);
    /* display: block; */
    display: flex;
    padding: 10px;
}

a {
    align-items: center;
} 

.Active{
    color: black;
    font-weight: bold;
}

.logo_img{
    margin: 0;
    padding: 0;
}
