.NavBar{
    border: 1px solid black;
}

.NavLink{
    color: rgba(0,0,0,.5);
    display: block;
    /* padding: 0.5rem 1rem; */
    padding: 0 0.65rem;
}

.Active{
    color: black;
    font-weight: bold;
}